.container {
    max-width: 80%;
    margin: 100px auto;
}
  
.full-width {
    width: 100%;
    margin-bottom: 16px;
}

.filters mat-form-field{
    margin-right: 10px;
}

.filters button{
    margin-right: 10px;
}