.login-container {
    max-width: 400px;
    margin: 100px auto;
}
  
.full-width {
    width: 100%;
    margin-bottom: 16px;
}

mat-card {
    padding: 20px;
}

mat-card-title{
    text-align: center;
    margin: 1rem;
}
  